<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='mappers.TokenMapper'>

    <resultMap type='Token' id='TokenResult'>
        <id property='token' column='token'/>
        <result property='userId' column='user_id'/>
        <result property='createdDate' column='created_date'/>
        <result property='expirationDate' column='expiration_date'/>
    </resultMap>

    <select id='getAllTokens' resultMap='TokenResult'>
        SELECT * FROM TOKENS
    </select>

    <select id='getToken' resultMap='TokenResult'>
        SELECT * FROM TOKENS WHERE TOKEN = #{token}
    </select>

    <select id='getTokenByUser' resultMap='TokenResult'>
        SELECT * FROM TOKENS WHERE USER_ID = #{userId}
    </select>

    <insert id='insertToken' parameterType='Token' useGeneratedKeys='true' keyProperty='token'>
        INSERT INTO TOKENS(
        token,
        user_id,
        created_date,
        expiration_date
        )
        VALUES(
        #{token},
        #{userId},
        #{createdDate},
        #{expirationDate}
        )
    </insert>

    <update id='updateToken' parameterType='Token' useGeneratedKeys='true' keyProperty='id'>
        UPDATE TOKENS
        SET
        TOKEN = #{token}
        WHERE USER_ID = #{userId}
    </update>

    <delete id='deleteToken' parameterType='String'>
        DELETE FROM TOKENS WHERE TOKEN = #{token}
    </delete>

</mapper>